*.pyc
__pycache__
.idea
.DS_Store
.project
.pydevproject
results/*
*.log
*.prefs
config/system_config.json
results
code-indexer-2.0.0.jar
tests/windows/hpx_rebranding/Framework/bell_notifications/index_outputs/

